body {
  margin: 0;
  text-align: center; }

#container {
  height: 300px;
  margin: 20px auto;
  position: relative;
  width: 300px; }

.hand {
  color: #444;
  font-family: sans-serif;
  font-size: 14px;
  height: 2px;
  left: 150px;
  position: absolute;
  text-align: right;
  top: 150px;
  -webkit-transform-origin: 0 50%;
      -ms-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transition: -webkit-transform 100ms;
          transition: transform 100ms; }

.hours {
  background: #f00;
  width: 110px; }

.minutes {
  background: #f70;
  width: 130px; }

.seconds {
  background: #fc0;
  width: 150px; }

.angle-0 {
  -webkit-animation-duration: 100ms;
          animation-duration: 100ms;
  -webkit-animation-name: zero;
          animation-name: zero;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg); }

@-webkit-keyframes zero {
  from {
    -webkit-transform: rotate(-96deg);
            transform: rotate(-96deg); } }

@keyframes zero {
  from {
    -webkit-transform: rotate(-96deg);
            transform: rotate(-96deg); } }

.angle-6 {
  -webkit-transform: rotate(-84deg);
      -ms-transform: rotate(-84deg);
          transform: rotate(-84deg); }

.angle-12 {
  -webkit-transform: rotate(-78deg);
      -ms-transform: rotate(-78deg);
          transform: rotate(-78deg); }

.angle-18 {
  -webkit-transform: rotate(-72deg);
      -ms-transform: rotate(-72deg);
          transform: rotate(-72deg); }

.angle-24 {
  -webkit-transform: rotate(-66deg);
      -ms-transform: rotate(-66deg);
          transform: rotate(-66deg); }

.angle-30 {
  -webkit-transform: rotate(-60deg);
      -ms-transform: rotate(-60deg);
          transform: rotate(-60deg); }

.angle-36 {
  -webkit-transform: rotate(-54deg);
      -ms-transform: rotate(-54deg);
          transform: rotate(-54deg); }

.angle-42 {
  -webkit-transform: rotate(-48deg);
      -ms-transform: rotate(-48deg);
          transform: rotate(-48deg); }

.angle-48 {
  -webkit-transform: rotate(-42deg);
      -ms-transform: rotate(-42deg);
          transform: rotate(-42deg); }

.angle-54 {
  -webkit-transform: rotate(-36deg);
      -ms-transform: rotate(-36deg);
          transform: rotate(-36deg); }

.angle-60 {
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg); }

.angle-66 {
  -webkit-transform: rotate(-24deg);
      -ms-transform: rotate(-24deg);
          transform: rotate(-24deg); }

.angle-72 {
  -webkit-transform: rotate(-18deg);
      -ms-transform: rotate(-18deg);
          transform: rotate(-18deg); }

.angle-78 {
  -webkit-transform: rotate(-12deg);
      -ms-transform: rotate(-12deg);
          transform: rotate(-12deg); }

.angle-84 {
  -webkit-transform: rotate(-6deg);
      -ms-transform: rotate(-6deg);
          transform: rotate(-6deg); }

.angle-90 {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg); }

.angle-96 {
  -webkit-transform: rotate(6deg);
      -ms-transform: rotate(6deg);
          transform: rotate(6deg); }

.angle-102 {
  -webkit-transform: rotate(12deg);
      -ms-transform: rotate(12deg);
          transform: rotate(12deg); }

.angle-108 {
  -webkit-transform: rotate(18deg);
      -ms-transform: rotate(18deg);
          transform: rotate(18deg); }

.angle-114 {
  -webkit-transform: rotate(24deg);
      -ms-transform: rotate(24deg);
          transform: rotate(24deg); }

.angle-120 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }

.angle-126 {
  -webkit-transform: rotate(36deg);
      -ms-transform: rotate(36deg);
          transform: rotate(36deg); }

.angle-132 {
  -webkit-transform: rotate(42deg);
      -ms-transform: rotate(42deg);
          transform: rotate(42deg); }

.angle-138 {
  -webkit-transform: rotate(48deg);
      -ms-transform: rotate(48deg);
          transform: rotate(48deg); }

.angle-144 {
  -webkit-transform: rotate(54deg);
      -ms-transform: rotate(54deg);
          transform: rotate(54deg); }

.angle-150 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }

.angle-156 {
  -webkit-transform: rotate(66deg);
      -ms-transform: rotate(66deg);
          transform: rotate(66deg); }

.angle-162 {
  -webkit-transform: rotate(72deg);
      -ms-transform: rotate(72deg);
          transform: rotate(72deg); }

.angle-168 {
  -webkit-transform: rotate(78deg);
      -ms-transform: rotate(78deg);
          transform: rotate(78deg); }

.angle-174 {
  -webkit-transform: rotate(84deg);
      -ms-transform: rotate(84deg);
          transform: rotate(84deg); }

.angle-180 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }

.angle-186 {
  -webkit-transform: rotate(96deg);
      -ms-transform: rotate(96deg);
          transform: rotate(96deg); }

.angle-192 {
  -webkit-transform: rotate(102deg);
      -ms-transform: rotate(102deg);
          transform: rotate(102deg); }

.angle-198 {
  -webkit-transform: rotate(108deg);
      -ms-transform: rotate(108deg);
          transform: rotate(108deg); }

.angle-204 {
  -webkit-transform: rotate(114deg);
      -ms-transform: rotate(114deg);
          transform: rotate(114deg); }

.angle-210 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }

.angle-216 {
  -webkit-transform: rotate(126deg);
      -ms-transform: rotate(126deg);
          transform: rotate(126deg); }

.angle-222 {
  -webkit-transform: rotate(132deg);
      -ms-transform: rotate(132deg);
          transform: rotate(132deg); }

.angle-228 {
  -webkit-transform: rotate(138deg);
      -ms-transform: rotate(138deg);
          transform: rotate(138deg); }

.angle-234 {
  -webkit-transform: rotate(144deg);
      -ms-transform: rotate(144deg);
          transform: rotate(144deg); }

.angle-240 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }

.angle-246 {
  -webkit-transform: rotate(156deg);
      -ms-transform: rotate(156deg);
          transform: rotate(156deg); }

.angle-252 {
  -webkit-transform: rotate(162deg);
      -ms-transform: rotate(162deg);
          transform: rotate(162deg); }

.angle-258 {
  -webkit-transform: rotate(168deg);
      -ms-transform: rotate(168deg);
          transform: rotate(168deg); }

.angle-264 {
  -webkit-transform: rotate(174deg);
      -ms-transform: rotate(174deg);
          transform: rotate(174deg); }

.angle-270 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.angle-276 {
  -webkit-transform: rotate(186deg);
      -ms-transform: rotate(186deg);
          transform: rotate(186deg); }

.angle-282 {
  -webkit-transform: rotate(192deg);
      -ms-transform: rotate(192deg);
          transform: rotate(192deg); }

.angle-288 {
  -webkit-transform: rotate(198deg);
      -ms-transform: rotate(198deg);
          transform: rotate(198deg); }

.angle-294 {
  -webkit-transform: rotate(204deg);
      -ms-transform: rotate(204deg);
          transform: rotate(204deg); }

.angle-300 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg); }

.angle-306 {
  -webkit-transform: rotate(216deg);
      -ms-transform: rotate(216deg);
          transform: rotate(216deg); }

.angle-312 {
  -webkit-transform: rotate(222deg);
      -ms-transform: rotate(222deg);
          transform: rotate(222deg); }

.angle-318 {
  -webkit-transform: rotate(228deg);
      -ms-transform: rotate(228deg);
          transform: rotate(228deg); }

.angle-324 {
  -webkit-transform: rotate(234deg);
      -ms-transform: rotate(234deg);
          transform: rotate(234deg); }

.angle-330 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); }

.angle-336 {
  -webkit-transform: rotate(246deg);
      -ms-transform: rotate(246deg);
          transform: rotate(246deg); }

.angle-342 {
  -webkit-transform: rotate(252deg);
      -ms-transform: rotate(252deg);
          transform: rotate(252deg); }

.angle-348 {
  -webkit-transform: rotate(258deg);
      -ms-transform: rotate(258deg);
          transform: rotate(258deg); }

.angle-354 {
  -webkit-transform: rotate(264deg);
      -ms-transform: rotate(264deg);
          transform: rotate(264deg); }

.angle-360 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
