body {
  background: #dddde2;
  margin: 0;
  text-align: center;
}

.clock {
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  height: 120px;
  margin: 100px auto 0;
  position: relative;
  width: 720px;
}

.pixel {
  background: #000;
  height: 1px;
  position: absolute;
  width: 1px;
}

.text {
  box-sizing: border-box;
  display: block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 9px;
  height: 10px;
  overflow: hidden;
  padding: 0 2px;
  position: absolute;
  text-align: left;
  width: 60px;
}
