body {
  margin: 10px 0 0;
  text-align: center;
}

path {
  fill: transparent;
  stroke: #888;
}

text {
  alignment-baseline: central;
  fill: #666;
  font-family: Helvetica, Arial;
  text-anchor: middle;
}

rect {
  fill: #ffe;
  stroke: #888;
}
