html,
body,
#container,
.clock {
  height: 100%;
}

body {
  margin: 0;
}

.clock {
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 11px;
  justify-content: space-between;
}

.row {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.current {
  font-size: 200%;
}

.colour {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}
