html {
  height: 100%;
}

body {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0;
}

path {
  fill: transparent;
  stroke: #888;
}

text {
  alignment-baseline: central;
  fill: #666;
  font-family: Helvetica, Arial;
  text-anchor: middle;
}

rect {
  fill: #ffe;
  stroke: #888;
}
