html {
  height: 100%;
}

body {
  align-items: center;
  background: #fff;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0;
}

#clock {
  color: #eee;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  height: 400px;
  position: relative;
  width: 400px;

  span {
    --size: 15px;
    --offset: calc(var(--size) / -2);

    align-items: center;
    display: flex;
    height: var(--size);
    justify-content: center;
    position: absolute;
    transform: translate(var(--offset), var(--offset));
    width: var(--size);
  }

  .past {
    background: #eee;
    color: #ddd;
  }

  .current {
    background: #666;
    color: #fff;
  }
}
